#main, .demo {
  margin-top: 0;
}

#instructions {
  text-align: left;
}


.flowchart-demo .window {
  border: 1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 0.5em;
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-align: center;
  z-index: 20; position: absolute;
  background-color: #eeeeef;
  color: black;
  font-family: helvetica;padding: 0.5em;
  font-size: 0.9em;
  width: 160px;
  height: auto;
  line-height: 15px;
}

.argument-content {
  position: relative;
	top: 50%;
}

.flowchart-demo .window:hover {
  box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.flowchart-demo .active {
  border: 1px dotted green;
}
.flowchart-demo .hover {
  border: 1px dotted red;
}

.flowchart-demo ._jsPlumb_connector {
  z-index: 4;
}

.flowchart-demo ._jsPlumb_endpoint {
  z-index: 21;cursor: pointer;
}


